.statsWrapper
  display: flex
  align-items: center
  gap: 16px
  color: var(--basic-ink-secondary)
  > span
    display: flex
    align-items: center
    gap: 8px
  hr
    border: none
    width: 1px
    height: 16px
    background-color: var(--line-line-tertiary)
  strong
    color: var(--safe-safe-primary)
    font-weight: 600
