@use '@/styles/common.module.sass'

.optionListWrapper
  flex: 1 1 auto
  min-height: 0
  overflow: scroll
.optionList
  list-style: none
  display: flex
  flex-direction: column
  gap: 8px
  > li
    padding: 10px 14px
    border-radius: 4px
    background-color: var(--basic-bg-primary)
    transition: background-color .2s
    cursor: pointer
    @include common.card
  .disabled
    cursor: not-allowed
    background-color: var(--basic-bg-secondary)
