@use '@/styles/common.module.sass'

.list
  display: flex
  flex-direction: column
  gap: 8px

.itemWrapper
  display: flex
  justify-content: space-between
  align-items: center
  gap: 16px
  --border-color: var(--line-line-secondary)
  &[c-focus]
    --border-color: var(--accent-accent-primary)
  &[c-error]
    --border-color: var(--error-error-primary)
    .item .vc
      background-color: var(--error-error-bg)
    .vc
      p, input
        color: var(--error-error-primary)
  &[c-disabled]
    cursor: not-allowed
    .item .vc
      background-color: var(--basic-bg-secondary)
      input:disabled
        cursor: not-allowed
        color: var(--basic-ink-primary)
.inputWrapper
  flex: 1 1 auto
  display: flex
  justify-content: space-between
  // align-items: center
  gap: 0 16px
.item
  flex: 1 1 auto
  display: flex
  border-radius: 4px
  background: var(--basic-bg-primary)
  @include common.card
.info
  flex: 1 1 auto
  padding: 10px 14px
  border-radius: 4px 0 0 4px
  border-right: 1px solid var(--border-color, var(--line-line-secondary))
  background: var(--basic-bg-secondary)
  transition: border .2s

  display: flex
  flex-direction: column
  gap: 4px
.vc
  flex: 0 0 min-content
  min-width: 104px
  padding: 10px 14px
  text-align: right
  transition: background .2s

  display: flex
  flex-direction: column
  gap: 4px
  p
    white-space: nowrap
  input
    width: 100%
    font: inherit
    font-weight: 600
    text-align: right
    border: none
    outline: none
    background: none
    &:invalid
      color: var(--error-error-primary)
    &::placeholder
      color: var(--basic-ink-secondary)
.deleteButton
  cursor: pointer

.result
  --border-color: var(--safe-safe-primary)
  .info
    background: var(--basic-bg-primary)

@media not all and (min-width: 600px)
  .itemWrapper
    gap: 8px
  .item
    width: 100%
  .inputWrapper
    flex-direction: column
    align-items: flex-end
  .vcInfo
    display: flex
    align-items: baseline
    gap: 8px
    justify-content: flex-end
    padding-top: 0
